body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #57BD9E; /* Cor de fundo */
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.sphere {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sphere1 {
    width: 800px;
    height: 800px;
    top: -400px;
    right: -400px;
}

.sphere2 {
    width: 800px;
    height: 800px;
    bottom: -400px;
    left: -400px;
}

.container {
    width: 100%;
    max-width: 360px;
    background: #CCDDD2; /* Cor de fundo do container */
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 5px solid #FFFFFF; /* Moldura */
    border-radius: 25px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo {
    width: 275px; /* Tamanho do logotipo */
    margin-bottom: 5px;
}

h1 {
    margin-bottom: 25px;
    color: #ffffff; /* Cor do título */
    font-size: 40px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    font-family: 'Johmuria', Tahoma, Geneva, Verdana, sans-serif; /* Fonte personalizada */
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3); /* Sombra do texto */
    /* Removendo as propriedades de gradiente */
    background: none; /* Removendo o fundo gradiente */
    -webkit-background-clip: initial; /* Removendo o clip de fundo para o texto */
    -webkit-text-fill-color: initial; /* Restaurando o preenchimento de texto padrão */
}

.start-button {
    padding: 12px 24px;
    background-color: #FFFFFF; /* Cor do botão */
    border: none;
    border-radius: 8px;
    color: #333333; /* Cor do texto do botão */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

.start-button:hover {
    background-color: #CCCCCC; /* Cor de fundo do botão ao passar o mouse */
}



.input-field {
    width: 80%;
    padding: 12px; /* Preenchimento */
    margin: 10px 0; /* Espaçamento entre os campos */
    border: 2px solid #FFFFFF; /* Borda branca */
    border-radius: 8px;
    font-size: 16px;
    background-color: #FFFFFF; /* Fundo branco */
    color: #333333; /* Cor do texto */
}

.login-button {
    width: 70%;
    padding: 12px;
    background-color: #FFFFFF; /* Cor do botão */
    border: none;
    border-radius: 8px;
    color: #333333; /* Cor do texto do botão */
    font-size: 16px;
    cursor: pointer;
    animation: blink 2s infinite; /* Animação de piscar */
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}
